<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<sitecore xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <settings>
    <setting name="SerializationFolder" value="$(dataFolder)/serialization" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </settings>
</sitecore>
